# Node.js project (server)
/calender-widget-api/node_modules/
/calender-widget-api/logs/
/calender-widget-api/dist/

# React project (client)
/calender-widget/node_modules/
/calender-widget/build/
/calender-widget/.cache/

# Logs
*.log
logs/

# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# NPM package lock file (optional but recommended)
package-lock.json
